canvas{
    background-color: rgb(0, 0, 0);
    padding-left: 0; 
        padding-right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        display: block; 
        width: 400px; 
        height: 600;
        top: 0;
}

button{
    background-color: rgb(124, 124, 124) ;
    border: none;
    padding: 10px 30px 30px 60px;
    margin: 20px;
    border-radius: 500px;
    outline: none;
    position: relative;
    left: 875px;
    top: -85px;
}

button:hover{
   cursor: pointer;
   background-color: #646262;
}
body{
    background-image: url(Storage.png);
    background-position: center;
    background-size: auto;
    background-attachment: fixed;

}
